@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-main: #121212; 
    --text-main: #ffffff; 
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box; 
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: var(--background-main);
  color: var(--text-main);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column; 
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 
}

.flex.h-screen.bg-black {
  width: 100%; /* Assurez-vous que la div prend toute la largeur */
  height: 100%; /* Assurez-vous que la div prend toute la hauteur */
  display: flex;
  flex-direction: column; /* Utilisez column pour que les éléments enfants s'empilent verticalement */
}

main {
  background-color: var(--background-main); /* Fond noir mat pour la page principale */
  color: var(--text-main); /* Texte blanc pour la page principale */
  flex: 1;
  padding: 1rem;
  overflow: auto; 
  border-radius: 0; 
  margin: 0; 
  height: 100%; 
}

/* Ajoutez les motifs de vagues diagonales */
.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-size: 56px 56px;
  z-index: -1;
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-size: 56px 56px;
  opacity: 0.1;
  z-index: -1;
}